apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
  namespace: spring-petclinic
  labels:
    app: petclinic
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  selector:
    matchLabels: 
      app: petclinic
  template:
    metadata: 
      labels: 
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: ajay383/spring-petclinic:latest
          ports:
            - containerPort: 8080
          
          envFrom:
          - configMapRef:
              name: petclinic-config
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "400m"
              memory: "512Mi"   

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3