apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
  namespace: spring-petclinic
  labels:
    app: petclinic
spec:
  replicas: 2
  selector:
    matchLabels: 
      app: petclinic
  template:
    metadata: 
      labels: 
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: ajay383/spring-petclinic:latest
          ports:
            - containerPort: 8080

